<!DOCTYPE html>
<html>
<head>
	<title>Carolina After Dark</title>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.css" />
	<script src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.js"></script>
	<%= csrf_meta_tag %>
	<style type="text/css">
		body {
			background:#fff;
		}
		.ui-bar-b {
			background: #660000;
			background: -moz-linear-gradient(top, #660000 0%, #90122a 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#660000), color-stop(100%,#90122a));
			background: -webkit-linear-gradient(top, #660000 0%,#90122a 100%);
			background: -o-linear-gradient(top, #660000 0%,#90122a 100%);
			background: -ms-linear-gradient(top, #660000 0%,#90122a 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C90000', endColorstr='#90122a',GradientType=0 );
			background: linear-gradient(top, #660000 0%,#90122a 100%);
			border:1px solid #90122a;
		}
		.ui-btn-inner {
			border: #;
		}
	</style>
</head>
<body>
	<div data-role="page">
		<%= yield %>
	</div>
</body>
</html>
